.container {
  font-family: sans-serif;
  text-align: center;
}
.source-code {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9;
  padding: 20px;
  background: white;
}
.layout {
  position: fixed;
  top: 0;
  left: 20%;
  margin-left: -40px;
  z-index: 9;
}
.ui.rail {
  z-index: 9;
  background: white;
}
.ui.rail .ui.form {
  padding: 16px;
}
.button-wrapper button {
  z-index: 1;
  margin: 2px !important;
  vertical-align: top;
}

.button-wrapper label {
  display: inline-block;
  padding: 5px;
}
.button-wrapper label input {
  margin-right: 2px;
}

.excalidraw .App-menu_top .buttonList {
  display: flex;
}

.excalidraw-wrapper {
  height: 800px;
  position: relative;
}

:root[dir="ltr"]
  .excalidraw
  .layer-ui__wrapper
  .zen-mode-transition.App-menu_bottom--transition-left {
  transform: none;
}
